
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart fariy Tale</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/cart.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="/js/category.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>

</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="/main">Smart fariy Tale</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
              <ul class="navbar-nav m-auto">
                  <li class="nav-item">
                      <a class="nav-link" href="/main">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/category/1">Category</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/cart">Cart</a>
                  </li>
              </ul>

              <form class="form-inline my-2 my-lg-0">
                  <div class="input-group input-group-sm">
                      <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                      <div class="input-group-append">
                          <button type="button" class="btn btn-secondary btn-number">
                              <i class="fa fa-search"></i>
                          </button>
                      </div>
                  </div>
                  <a class="btn btn-success btn-sm ml-3" href="/cart">
                      <i class="fa fa-shopping-cart"></i> Cart
                      <span class="badge badge-light"><%= cartnum %></span>
                  </a>
              </form>
          </div>
      </div>
  </nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"> CART</h1>
     </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> </th>
                            <th scope="col">Product</th>
                            <th></th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var id in content ){ %>
                        <tr>
                            <td><img src="<%= content[id].con_imge_filepath %>" style="width: 70px; height: 100px; object-fit: cover;"> </td>
                            <td ><%= content[id].con_name %></td>
                            <td></td>
                            <td class="text-right"><%= content[id].con_price%></td>
                            <td></td>
                            <td class="text-right"> <a href = "/cart/delete/<%= content[id].con_id %>" ><button class="btn btn-sm btn-danger"><i class="fa fa-trash"> x </i> </button> </a></td>
                        </tr>
                          <% }; %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong> <%+ nowprice%> </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                  <a href="/Category/1">
                    <button class="btn btn-block btn-light">Continue Shopping</button>
                  </a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                  <a href="/paynow">
                  <button class="btn btn-lg btn-block btn-success text-uppercase">Checkout</button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<!-- Footer -->
<footer class="text-light" style="margin-top:200px">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                  We use the smart keypad to help kids get interested in books and increase thier concentration
                  by providing them with contents.
                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a href="">facebook</a></li>
                    <li><a href="">instagram</a></li>
                    <li><a href="">blog</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </div>
    </div>
</footer>
</html>
