<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mypage.css">
  <link rel="stylesheet" type="text/css" href="css/button.css"></link>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.8/vega.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.3/vega-lite.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-rc7/vega-embed.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
  <!--navi -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Smart Fairy Book</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class=""><a href="/main">Home</a></li>
        <li class=""><a href="#">About</a></li>
        <li class=""><a href="/category/1">Category</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout" >logout</a></li>
        <li><a href="/mypage">MyPage</a></li>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</nav>
<body>
  <section class="jumbotron text-center">
      <div class="container"style="margin-top:100px">
          <h1 class="jumbotron-heading"> My Data</h1>
          <p class="lead text-muted mb-0">Travel through the book in a new world</p>
      </div>
  </section>
  <!------------- MAIN PAGE CONTENT AREA --------->
<div class="site-panel"style="margin-top:110px">
<div class="container">
    <div class="row">
            <div class="col-md-3 well">
                <div class= "sidebar">
                    <div class="list-group">
<a href="/mypage/modify" class="list-group-item active">My Profile</a>
<a href="/mypage_button" class="list-group-item">My Data </a>
<a href="/mypage/download" class="list-group-item">My download </a>
</div>
                </div>
            </div>
            <div class="col-md-9 ">
                <div class= "content-box well">
    <h1>MyPage_사용횟수 통계</h1>
    <br></br>
    <form action="/mypage_button" method="get">
      <p>
      </p>
    </form>
   <div id="vis"></div>
 </div></div>
 <div class="">
   <script type="text/javascript">
  //24시 꺼는 반영이 안됌....by. 그래프 특성
    var yourVlSpec = {
      "$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
      "description": "A simple bar chart with embedded data.",
      "data": {
        "values": [
          {"시간": "1","횟수": <%=hour1 %>}, {"시간": "2","횟수": <%=hour2 %>},
          {"시간": "3","횟수":  <%=hour3 %>}, {"시간": "4","횟수":  <%=hour4 %>}, {"시간": "5","횟수":  <%=hour5 %>},
          {"시간": "6","횟수":  <%=hour6 %>}, {"시간": "7","횟수":  <%=hour7 %>}, {"시간": "8","횟수":  <%=hour8 %>},
          {"시간": "9","횟수":  <%=hour9 %>}, {"시간": "10","횟수":  <%=hour10 %>}, {"시간": "11","횟수":  <%=hour11 %>},
          {"시간": "12","횟수":  <%=hour12 %>}, {"시간": "13","횟수":  <%=hour13 %>}, {"시간": "14","횟수":  <%=hour14 %>},
          {"시간": "15","횟수":  <%=hour15 %>}, {"시간": "16","횟수":  <%=hour16 %>}, {"시간": "17","횟수":  <%=hour17 %>},
          {"시간": "18","횟수":  <%=hour18 %>}, {"시간": "19","횟수":  <%=hour19 %>}, {"시간": "20","횟수":  <%=hour20 %>},
          {"시간": "21","횟수":  <%=hour21 %>}, {"시간": "22","횟수":  <%=hour22 %>}, {"시간": "23","횟수":  <%=hour23 %>}
        ]
      },
      "width": 700,
      "height": 350,
      "mark": "bar",
      "encoding": {
        "x": {"field": "시간", "type": "quantitative"},
        "y": {"field": "횟수",  "type": "quantitative"},
        "color": {"field": "button을 누른 횟수", "type": "nominal"}
      }
    }
    vegaEmbed("#vis", yourVlSpec);

  vegaEmbed("#vis", yourVlSpec);
  </script>
  <div style="text-align:right">
      <a href="/upload"> <button type = "button"  class="btn_order" style="margin:10px;">Data update</button></a>
    </div>
</body>
</html>
